project:
  type: website

editor:
  render-on-save: true
    
website:
  title: "AI-Agenter-F2026"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



